@model DotNetCore_WebAPI.web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Rechercher" onsubmit="TakeToken();" asp-antiforgery="true">

    <input asp-for="Base" />
    <input asp-for="Text" />
    <input type="hidden" value="" id="SecurityToken" name="SecurityToken" />
    <input type="submit" id="valider" />

</form>

@if (Model != null)
{

    @if (Model.resultPresenceTexte.LstResult != null)
    {
        @if (Model.resultPresenceTexte.LstResult.Count() > 0)
        {
            <table>
                @foreach (var item in Model.resultPresenceTexte.LstResult)
                {
                    <tr>
                        <td>@item.ProcName</td>
                        <td>@item.Extrait</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Aucun résultat</p>
        }

    }
    else if (Model.resultPresenceTexte != null)
    {
        <p>@Model.resultPresenceTexte.ReturnMessage</p>
        if (!Model.resultPresenceTexte.IsSuccess)
        {
            <p>@Model.resultPresenceTexte.Exception.InnerException</p>
        }
    }
}

<div style="margin: 50px auto; width:600px;">
    <div id="btLoginContainer">
        <input type="text" name="username" id="username" placeholder="Username" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <button id="btLogin">Login</button><br>
        <label>(Use the same password as the username to sign in)</label>
    </div>
    <div id="btLogoutContainer">
        <button id="btLogout">Logout</button>
    </div>
    <div>
        <label>Action that requires the user to be authenticated: </label><button id="btGetUserDetails">Get User Details</button>
    </div>

</div>
<div style="margin: 50px; background: lightgray" id="responseContainer">

</div>



@section scripts {
    <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/gestionToken.js"></script>
    <script>
        $(function () {

    $('#btLogin').click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val(); //récûpération du token mvc
        $.ajax({
            url: '@Url.Action("Token")',//appel de la method get AdresseTableau
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                username: $('#username').val(),
                password: $('#password').val()
            },
            dataType: 'html',
            success: function (e) {
                var obj = JSON.parse(e);
                var valuetoken = obj.result.Result.token;
                localStorage.setItem("token", valuetoken);
                $('#btLoginContainer').hide();
                $('#btLogoutContainer').show();
                var message = "<p>Token received and saved in local storage under the key 'token'</p>";
                message += "<p>Token Value: </p><p style='word-wrap:break-word'>" + valuetoken + "</p>";
                $('#responseContainer').html(message);
            }
        });
    });

    $('#btLogout').click(function () {
        localStorage.removeItem("token");
        $('#btLogoutContainer').hide();
        $('#btLoginContainer').show();
        $('#responseContainer').html("<p>Token deleted from local storage</p>");
    });
    
    if (isUserLoggedIn()) {
        $('#btLoginContainer').hide();
        $('#btLogoutContainer').show();
    } else {
        $('#btLoginContainer').show();
        $('#btLogoutContainer').hide();
    }
});
    </script>


}

